<main>
  <img
    width="150px"
    height="150px"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png"
  />
  <h1>Bem-vindo ao curso de Angular!</h1>
  <p>Esta é a página principal do curso.</p>

  <ul>
    <li>
      <a
        href="https://angular.io/tutorial"
        target="_blank"
        rel="noopener noreferrer"
        >Tutorial</a
      >
    </li>
    <li>
      <a
        href="https://angular.io/docs"
        target="_blank"
        rel="noopener noreferrer"
        >Documentação</a
      >
    </li>
    <li>
      <a
        href="https://drive.google.com/drive/u/0/folders/1bmkOT8F1U3L-WIhSAKGDj4NIRNMvQqlt"
        target="_blank"
        rel="noopener noreferrer"
        >Aulas</a
      >
    </li>
  </ul>
</main>
